<%# add navigation links to this file %>
<div class='col-md-4 col-xs-4'><%= link_to 'Add Transaction', transactions_path, class: 'navbar-brand' %></div>
<div class='col-md-4 col-xs-4'><%= link_to 'Monthly bills', '#', class: 'navbar-brand' %></div>
<div class='col-md-4 col-xs-4'><%= link_to 'Check Udhari', '#', class: 'navbar-brand' %></div>